<div class="tech-cert" id="technologies">
    <div class="tech-cert-header">Tech Stacks and Certification</div>
    <div class="content">
        <div class="tech">
            <h2><u>Technologies</u></h2>
            <ul>
                <li>C# Core with MicroServices</li>
                <li>C# MVC5 with .Net framework and OOPs</li>
                <li>Microsoft SQL (MSSql)</li>
                <li>Kendo jQuery UI Framework </li>
                <li>JavaScript(jQuery), HTML and CS</li>
            </ul>
        </div>
        <div class="cert">
            <h2><u>Certificates</u></h2>
            <ul>
                <li>Cloud Computing and Distributed System with 72% and Elite Batch</li>
            </ul>

            <h2><u>Tools</u></h2>
            <ul>
                <li>PostMan, Swagger, SoapUI, GitHub, Excel, Power BI, Sql Profiler, DevOps</li>
            </ul>
        </div>
    </div>
</div>