.tech-cert {
    color: white;
    height: 50vh;
    z-index: 2;
    position: relative;
}

.tech-cert-header{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: block;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7vh;
}
.tech{
    border-color: white;
    border-right: 10px;
} 
.cert{
    border-color: white;
    border-left: 10px;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}