<div class="experience" id="projects"><p class="comp-title"><u>Projects</u></p>
    <div class="exp-projects"><div class="projects-list">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite1</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite2</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite3</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite4</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite5</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite6</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite7</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite8</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite9</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite10</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite11</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite12</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite13</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite14</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite15</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <h5 class="card-title pj-title">Project Tite16</h5>
            <img class="card-img-top" src="../../assets/Suraj WA0 - Edited.jpg" alt="Card image cap">
            <div class="technologies-stacks">
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
                <div class="technology"></div>
            </div>
        </div>
    </div>
</div>
</div>