.summary{
    position: relative;
    top:0;
    left:0;
    color: whitesmoke;
    z-index: 2;
    height: 100vh;
    /* display: none; */
}
.summary-header{   
    position: relative;
    top:25vw;
    left: 2vw;
    width: 100%;
}
.summary-content{
    position: relative;
    width: 45vw;
    top:25vw;
    left: 2vw;
    font-size: x-large;
    text-align: justify;
    text-justify: inter-word;
}