.comets{
    opacity: 0.8;
}
.comet-main{
    position: absolute;
    width: 20vw;
    height: 20vw;
    right: 37vw;
    top: 10vw;
    background: #FF0000;
    transform: rotate(-45deg);
    z-index: 1;
}
.comet-trace{
    position: absolute;
    width: 100vw;
    height: 20vw;
    right: -39vw;
    top: -26vw;
    background: linear-gradient(90deg, #FE5353 0%, #CA4949 25%, #953F3F 50%, #613535 75%, #463030 87.5%, #2C2B2B 100%);
    transform: rotate(-45deg);
    z-index: 0;
}

.comet1-main{
    position: absolute;
    width: 10vw;
    height: 10vw;
    right: 28vw;
    top: 25vw;
    background: #FBEE00;
    transform: rotate(-45deg);
    z-index: 1;
}
.comet1-trace{
    position: absolute;
    width: 100vw;
    height: 10vw;
    right: -55vw;
    top: -13vw;
    background: linear-gradient(90deg, #FFF86F 0%, #2C2B2B 100%);
    transform: rotate(-45deg);
    z-index: 0;
}
.comet2-main{
    position: absolute;
    width: 10vw;
    height: 10vw;
    right: 30vw;
    top: 45vw;
    background: #00FB26;
    transform: rotate(-45deg);
    z-index: 1;
}
.comet2-trace{
    position: absolute;
    width: 96vw;
    height: 10vw;
    right: -50vw;
    top: 8vw;
    background: linear-gradient(90deg, #77FF8C 0%, #2C2B2B 100%);
    transform: rotate(-45deg);
    z-index: 0;
}

@media screen and (max-width:915px) {
    /* .comet-main{
        position: absolute;
        width: 20vw;
        height: 20vw;
        right: 20vw;
        top: 20vw;
        background: #FF0000;
        transform: rotate(-45deg);
    }
    .comet-trace{
        position: absolute;
        width: 100vw;
        height: 20vw;
        right: -56vw;
        top: -16vw;
        background: linear-gradient(90deg, #FE5353 0%, #CA4949 25%, #953F3F 50%, #613535 75%, #463030 87.5%, #2C2B2B 100%);
        transform: rotate(-45deg);
        z-index: 0;
    } */
}