<div class="comets"><div class="comet">
  <div class="comet-main"></div>
  <div class="comet-trace"></div>
</div>
<div class="comet1">
  <div class="comet1-main"></div>
  <div class="comet1-trace"></div>
</div>
<div class="comet2">
  <div class="comet2-main"></div>
  <div class="comet2-trace"></div>
</div>
</div>
<div class="bodyClass">
<app-navigation></app-navigation>
<app-summary></app-summary>
<app-profile-image></app-profile-image>
<app-technologies-certificates></app-technologies-certificates>
<app-project-experience></app-project-experience>
<app-organization></app-organization>
<app-footer></app-footer>
<router-outlet></router-outlet>
</div>